---
# file: tasks/main.yml

- include_tasks: multi_os.yml

- include_tasks: redhat.yml
  when: ansible_os_family == "RedHat"

- include_tasks: freebsd.yml
  when: ansible_os_family == "FreeBSD"

# - include: repository.yml

- include_tasks: clean.yml

- include_tasks: build-burp.yml

- name: ensure client dir exists
  file:
    path: "{{ burp_client_dir }}"
    state: directory

- name: set burp client configuration
  template:
    src: burp.conf.j2
    dest: "{{ burp_client_dir }}/burp.conf"

<<<<<<< HEAD
- name: set burp client restore configuration
  template:
    src: burp-restore.conf.j2
    dest: "{{ burp_client_dir }}/burp-restore.conf"
  when: not burp_server_port_per_operation_bool

=======
>>>>>>> develop
- name: create burp folders
  file:
    path: "{{ burp_client_logs }}"
    state: directory

- name: create logrotate.d folder
  file:
    path: "{{ etc_dir }}/logrotate.d"
    state: directory

- name: configure burp logrotate
  template:
    src: burp_logrotate.j2
    dest: "{{ etc_dir }}/logrotate.d/burp"

- name: ensure /etc/cron.d exists
  file:
    path: /etc/cron.d
    state: directory
    owner: root
    group: "{{ root_group }}"
    mode: 0755

- name: schedule cron.d jobs
  cron:
    name: burp client schedule
    job: "[ -x {{ usr_dir }}/sbin/burp ] && {{ usr_dir }}/sbin/burp -c {{ burp_client_dir }}/burp.conf -a t >> {{ burp_client_logs }}/burp_client.log 2>&1"
    user: root
    cron_file: burp_client
    minute: "7,27,47"

- name: Enable crond service
  service:
    name: "{{ cron_service }}"
    state: started
    enabled: true

- name: Test client line
# yamllint disable
  shell: "{{ burp_client_test_line }}"
  when: burp_client_test
  changed_when: false
# yamllint enable
