mode = client
server = {{ burp_client_server }}

port = {{ burp_client_port }}
status_port = {{ burp_client_status_port }}
pidfile = {{ burp_client_pidfile }}
progress_counter = {{ burp_client_progress_counter }}
cname = {{ burp_client_cname }}
password = {{ burp_client_password }}
protocol = {{ burp_client_protocol }}
syslog = {{ burp_client_syslog }}
stdout = 1
ca_burp_ca = {{ burp_client_ca_burp_ca }}
ca_csr_dir = {{ burp_client_ca_csr_dir }}
ssl_cert_ca = {{ burp_client_ssl_cert_ca }}
ssl_cert = {{ burp_client_ssl_cert }}
ssl_key = {{ burp_client_ssl_key }}
ssl_key_password = {{ burp_client_ssl_key_password }}
ssl_peer_cn = {{ burp_client_ssl_peer_cn }}

{% if burp_server_port_per_operation_bool %}
# These ports are based on: https://github.com/CoffeeITWorks/ansible_burp2_server/issues/11
# Compatible since burp 2.1.10
{% for l in burp_client_ports_per_operation %}
{{ l }}
{% endfor %}

{% endif %}
server_can_override_includes = {{ burp_client_server_can_override_includes }}
{% if burp_client_includes is defined %}
{% for include in burp_client_includes %}
include = {{ include }}
{% endfor %}
{% endif %}
{% if burp_client_excludes is defined %}

{% for exclude in burp_client_excludes %}
exclude = {{ exclude }}
{% endfor %}
{% endif %}

{% if burp_client_extra_configs is defined %}
{% for l in burp_client_extra_configs %}
{{ l }}
{% endfor %}
{% endif %}
